<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <!--<script type="text/javascript" defer src="../Static/JS/jquery-3.6.1.min.js"></script>-->
    <script type="text/javascript" defer src="../Static/JS/testing.js"></script>
    <script type="text/javascript">
        // Событие DOMContentLoaded происходит когда весь HTML был полностью загружен и пройден парсером,
        // не дожидаясь окончания загрузки таблиц стилей, изображений и фреймов.
        /*
        document.addEventListener("DOMContentLoaded", function () {
            //jQuery(document).ready(function () {
            $('#text').val('Новый текст');
            //});
        });
        */
        /*
        function run() {
            if (window.jQuery) {

                $('#text').val('Новый текст');

                var $input = $("#text");

                $input.on('input', function () {
                    alert($(this).val());
                });
                $('#text').click(function () {
                    // Change the value and trigger input
                    $input.val($input.val() + 'x').trigger("input");
                });

                $("#text").on("change keyup paste click", function () {
                    $('#text').val('Новый текст');
                })

            }
            else {
                setTimeout(run, 50);
            }
        }
        run();
        */
    </script>
</head>

<header id="header-index">
    <h1>LifeSpot - тестовая страница</h1>
    <p>Здесь можно экспериментировать с кодом</p>
    <input id="text" type="text" name="form-text">
</header>

<!--
<aside id="sidebar">
    <div class="navbar">
        <a href="/"><p>Трансляции</p></a>
        <a href="/"><p>О проекте</p></a>
    </div>
</aside>
-->
<!--SIDEBAR-->
<body>
</body>
<!--FOOTER-->




</html>